
body {
    font-family: 'Arial', sans-serif;
    background-color: #b6d1ae;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1, h2 {
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}

.label {
    font-size: 8px;
    color: #555;
    margin-bottom: 3px;
    display: block;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 5px;
    margin: 3px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 8px;
    box-sizing: border-box;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 8px;
    width: 50%;
    margin-top: 15px;
}

.submit-button:hover {
    background-color: #45a049;
}

.textreg {
    margin-top: 15px;
    font-size: 8px;
    color: #555;
}

.textreg a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.textreg a:hover {
    text-decoration: underline;
}
.text2{
              position: absolute;
              color: #000000;
              font-family: "Montserrat", sans-serif;
              font-weight: 200;
              font-size: 1.4vw;
              margin-top: -38.7%;
              margin-left: -70.9%;
          
            }
             .image2{
              position: absolute;
              margin-left: -95%;
              margin-top: -41%;
              filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
            }